{% extends "layout.html" %}
{% block grup10elz %}

<h4>Proje Ekibi </h4>
<hr>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Ad Soyad</th>
      <th scope="col">Okulu</th>
      
      <th scope="col">Mail Adresi</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Ahmet ERYILMAZ</td>
      <td>Bursa-Vahide Aktuğ Ortaokulu</td>
      
      <td>ahmeteryilmaz@gmail.com</td>
    </tr>
     <tr>
      <th scope="row">2</th>
      <td>Çağlar AKÇAY</td>
      <td>Edirne-Şehit Nefize Çetin ÖZSOT Bilim Sana Merkezi</td>
     
      <td>caglar.akcay@meb.gov.tr</td>
    </tr>
      <tr>
      <th scope="row">3</th>
      <td>Ekrem TÜRKAY</td>
      <td>Ankara-Ahmet Çiçek Gazi Mesleki ve Teknik Anadolu Lisesi</td>
    
      <td>ekremturkay@gmail.com</td>
    </tr>
      <tr>
      <th scope="row">4</th>
      <td>Gökhan TOR</td>
      <td>Batman-Sason Gazi Mesleki ve Teknik Anadolu Lisesi</td>
     
      <td>gokhan.tor@gmal.com</td>
    </tr>
      <tr>
      <th scope="row">5</th>
      <td>Kemal Erdem ÖZÇELİK</td>
      <td>Ankara-Ostim ŞEhit Alper Zor Gazi Mesleki ve Teknik Anadolu Lisesi</td>
     
      <td>kemalerdemozcelik@gmail.com</td>
    </tr>
      <tr>
      <th scope="row">6</th>
      <td>Mehmet KAVAKLI</td>
      <td>Elazığ-Gazi Mesleki ve Teknik Anadolu Lisesi</td>
      
      <td>elzmkavakli@gmail.com</td>
    </tr>
      <tr>
      <th scope="row">7</th>
      <td>Serkan ÇAM</td>
      <td>Edirne-Şehit Nefize Çetin ÖZSOT Bilim Sana Merkezi</td>
      
      <td>sekocam@gmail.com</td>
    </tr>
    <tr>
      <th scope="row">8</th>
      <td>Volkan ÇINAR</td>
      <td>İstanbul-Silivri Mesleki ve Teknik Anadolu Lisesi</td>
     
      <td>vcinar@gmail.com</td>
    </tr>
  </tbody>
</table>
{% endblock  %}
